stamp-h1
src/icecast
src/.deps
src/.libs
config.h
conf/*.dist
*.o
.DS_Store
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.sub
config.h.in
config.log
config.status
configure
depcomp
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
*.tar.gz
